* {
  justify-self: center;
  max-width: 2600px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  /* text-align: center; */
}


/* ---------- Header ---------- */
header {
  text-align: center;
  background-color: #003366;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 3rem 0;
  color: #ffbf00;
  font-size: 1.5rem;
}


/* ---------- Main ---------- */
body {
  margin: 0 auto;
}

img {
  display: block;
}

h2, h3, caption {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.champions {
  margin-top: 2rem;
}

.info {
  font-family: "Roboto", sans-serif;
  padding: 0 2rem;
}

.matches {
  margin-top: 1rem;
}

.quote {
  font-family: "Bangers", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
}

#springboks, #formpage {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: #003366;
  color: #ffbf00;
  border-radius: 8px;
  border: 1px solid #333333;
  padding: 1rem;
  margin: 1rem 0;
  width: 50%;
  max-width: 300px;
}

#springboks:hover, #formpage:hover, #springboks:focus, #formpage:focus {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgba(140, 140, 140, 0.6);
  font-family: "Roboto", sans-serif;
  text-align: center;
  table-layout: fixed;
  max-width: 1000px;
  height: 400px;
}

caption {
  padding: 10px 0;
}

thead {
  background-color: #003366;
  color: #ffbf00;
  font-weight: 400;
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);

}

th, td {
  padding: 10px;
  text-align: center;
}

th:first-child, td:first-child {
  width: 20%;
  border-right: 1px solid rgba(140, 140, 140, 0.6);
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}

th:nth-child(2), td:nth-child(2) {
  width: 20%;
  border-right: 1px solid rgba(140, 140, 140, 0.6);
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}

th:nth-child(3), td:nth-child(3) {
  width: 20%;
  border-right: 1px solid rgba(140, 140, 140, 0.6);
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}

th:nth-child(4), td:nth-child(4) {
  width: 20%;
  border-right: 1px solid rgba(140, 140, 140, 0.6);
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}

th:nth-child(5), td:nth-child(5) {
  width: 25%;
  border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}

tbody td:nth-child(2), tbody td:nth-child(4) {
  font-family: "Bangers", "Montserrat", sans-serif;
  font-weight: 400;
}

tbody th:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.players table {
  margin-bottom: 1rem;
}

.players tbody td:nth-child(4) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.countdown-container {
  margin: 1rem 0;
}

.countdown {
  display: flex;
  text-align: center;
}

#countdown {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  border: 1px solid rgba(140, 140, 140, 0.6);
  color: #ffbf00;
  background-color: #003366;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

/* ---------- Footer ---------- */
footer {
  display: flex;
  flex-direction: column;
  background-color: #003366;
  color: #ffbf00;
  padding: 1rem 0;
  text-align: center;
  font-family: "roboto", sans-serif;
  margin-top: 2rem;
}

a {
  color: #ffbf00;
}