* {
  /* margin: 0; */
  max-width: 75rem;
  margin: 0 auto;
  text-decoration: none;
}

/* body {
  max-width: 100rem;
} */

/* header {
  max-width: 100rem;
  margin: 0 auto;
} */

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 30px 0;
  background-color: navy;
  color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: rgb(94, 92, 92);
  margin-bottom: 30px;
}

a {
  color: white;
  font-weight: bold;
}

a:hover, .ul a:hover {
  color: navy;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 30px;
  /* background-color: ; */
  /* padding-bottom: 30px; */
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* margin: 30px 10px; */
  /* height: 250px; */
  border-radius: 1.3rem;
  background-color: white;
}

h2, .resources h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  background-color: navy;
  color: white;
  border-radius: 1.3rem 1.3rem 0 0;
}

.resources {
  display: flex;
  flex-direction: column;
}

.resources h2 {
  padding: 20px 10px;
}

.links {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 1.3rem;
}

.ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ul a {
  color: black;
  padding: 10px 0;
}

.flex-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  /* justify-self: center; */
  padding: 40px 100px;
}

.flex-child, .flex-child2 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

article h2 {
  background-color: white;
  color: navy;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  padding: 10px;
}

/* .flex-container {
  display: flex;
  flex-direction: column;
} */

.flex-child2 {
  display: flex;
}

img {
  border-radius: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
  background-color: navy;
  color: white;
  display: grid;
  grid-gap: 10px;
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}