/* --------- Universal Contents --------- */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {
  max-width: 400px;
  margin: 0;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-self: center;
}

/* --------- Heading Contents --------- */

header {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(78, 7, 51);
  color: white;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
  width: 100%;

}

/* --------- Form Contents --------- */

.labels {
  padding-top: 1rem;
}

fieldset {
  background-color: rgb(242, 228, 243);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 0 1.5rem;
}

.optional {
  color: blue;
}

.all-apply {
  font-style: italic;
  font-weight: 300;
}

.wf1 label, legend, div {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select,
.wf1 textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: none;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

#textarea, input[type="date"] {
  font-family: sans-serif;
  font-size: .8rem;
}

label input[type="checkbox"] {
  margin-right: 6px;
}

.wf1 input[type="submit"] {
  padding: .75rem;
  margin: 1rem 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/* .features {
  display: flex;
  flex-direction: column;
  align-items: left;
} */

/* --------- Review Stars ---------- */

input[type="radio"] {
  display: none;
  position: relative;
  caret-color: rgba(0,0,0,0);
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.stars > label {
  color: gold;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  caret-color: rgba(0,0,0,0);
}

.stars > label:hover {
  color: #000;
}

.stars > label::before {
  content: "\2606";
}

.stars input:checked ~ label::before {
  content: "\2605";
}

/* --------- Footer Contents --------- */

footer {
  background-color: rgb(78, 7, 51);
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
