@media screen and (min-width: 600px) {
  .temples-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;  
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .temples {
    padding: 0 10px 1rem 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }

  #menu {
    display: none;
  }

  header {
    flex-wrap: nowrap;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .navigation a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  .title {
    text-align: center;
  }
}

